* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-img {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.header-img .img-electronics {
  width: 100%;
}

.header-img h1 {
  position: absolute;
  bottom: 2.5rem;
  left: 5rem;
  color: white;
  font-size: 3rem;
}

.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.header-bar .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bar .user .user-coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gainsboro;
  border-radius: 10px;
  padding: .5rem;
  margin-left: 1rem;
}

.header-bar .user .user-coin .cant-coin {
  margin-right: .2rem;
}

.header-bar .user .user-coin .icon-coin {
  width: 1.75rem;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 2rem 1rem 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filter .botonera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.filter .botonera .prod-quant {
  color: #616161;
  font-size: 1.2rem;
  padding: .7rem;
}

.filter .botonera .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.filter .botonera .sort .sort-by {
  color: #a3a3a3;
  border-left: 1px solid #d9d9d9;
  padding: .7rem;
  font-size: 1.2rem;
}

.filter .botonera .sort .filter-btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #ededed;
  color: #a3a3a3;
  border: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 100px;
  padding: 10px;
  margin: 0 .2rem .2rem 0;
  margin: .2rem .3rem;
}

.filter .botonera .sort .filter-btn:active {
  background-color: #0ad4fa;
  color: #FFFFFF;
}

.filter .move-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.filter .move-btn .arrow-btn {
  border: none;
  background-color: transparent;
  margin: 0 .2rem;
}

.products-galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.products-galery .product-card {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 20%;
  min-width: 276px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-galery .product-card:hover .hover-card {
  display: initial;
}

.products-galery .product-card .images-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-galery .product-card .images-ctn .buy-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1rem 1rem 0 1rem;
}

.products-galery .product-card .images-ctn .prod-img {
  width: 90%;
}

.products-galery .product-card .images-ctn:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70%;
  border-top: 1px solid #d9d9d9;
}

.products-galery .product-card .text-box {
  text-align: left;
  padding: 1rem;
}

.products-galery .product-card .text-box .prod-category {
  color: #a3a3a3;
}

.products-galery .product-card .text-box .prod-name {
  color: #616161;
}

.products-galery .hover-card {
  display: none;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0ad4fa), to(#25bbf1));
  background-image: linear-gradient(-180deg, #0ad4fa 0%, #25bbf1 100%);
  width: 100%;
  height: 100%;
  min-width: 276px;
  z-index: 10000000;
  opacity: 70%;
}
/*# sourceMappingURL=styles.css.map */