* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-img {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.header-img .img-electronics {
  width: 100%;
}

.header-img h1 {
  position: absolute;
  bottom: 2.5rem;
  left: 5rem;
  color: white;
  font-size: 3rem;
}

.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  position: relative;
}

.header-bar .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bar .user .user-coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gainsboro;
  border-radius: 10px;
  padding: .5rem;
  margin-left: .5rem;
  cursor: pointer;
}

.header-bar .user .user-coin .cant-coin {
  margin-right: .2rem;
}

.header-bar .user .user-coin .icon-coin {
  width: 1.75rem;
}

.header-bar .header-button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #ededed;
  color: #a3a3a3;
  border: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 100px;
  padding: 10px 12.5px;
  margin: 0 .5rem;
}

.header-bar .header-button:hover {
  background-color: #0ad4fa;
  color: #FFFFFF;
}

.more-coins {
  position: absolute;
  z-index: 10;
  top: 5rem;
  right: .5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: .5rem;
}

.more-coins .add-coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gainsboro;
  border-radius: 10px;
  padding: .5rem;
  margin: 1rem 0;
}

.more-coins .add-coins:hover {
  -webkit-transform: translate(-1px, -2px);
          transform: translate(-1px, -2px);
}

.more-coins .add-coins .img-coin {
  margin-left: 0.2rem;
  width: 1.5rem;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 2rem 1rem 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filter:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 90%;
  border-top: 1px solid #d9d9d9;
}

.filter .buttons-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.filter .buttons-board .prod-quant {
  color: #616161;
  font-size: 1.2rem;
  padding: .7rem;
}

.filter .buttons-board .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.filter .buttons-board .sort .sort-by {
  color: #a3a3a3;
  border-left: 1px solid #d9d9d9;
  padding: .7rem;
  font-size: 1.2rem;
}

.filter .buttons-board .sort .sort-controls-ctn .filter-btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #ededed;
  color: #a3a3a3;
  border: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 100px;
  padding: 10px;
  margin: 0 .2rem .2rem 0;
}

.filter .buttons-board .sort .sort-controls-ctn .active {
  background-color: #0ad4fa;
  color: #FFFFFF;
}

.filter .buttons-board .hidden {
  display: none;
}

.filter .move-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 48px;
  margin-bottom: 0.4rem;
}

.filter .move-btn .arrow-btn {
  border: none;
  background-color: transparent;
  margin: 0 .2rem;
  cursor: pointer;
}

.filter .move-btn .arrow-btn:hover {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.products-galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.products-galery .product-card {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 20%;
  min-width: 276px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-galery .product-card:hover .hover-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-2px, -7px);
          transform: translate(-2px, -7px);
  -webkit-box-shadow: 8px 10px 18px 3px #aaaaaa;
          box-shadow: 8px 10px 18px 3px #aaaaaa;
}

.products-galery .product-card .images-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-galery .product-card .images-ctn .buy-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1rem 1rem 0 1rem;
  width: 2rem;
}

.products-galery .product-card .images-ctn .cant-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  background-color: #616161ab;
  padding: .3rem 0 0 .3rem;
  min-height: 42px;
}

.products-galery .product-card .images-ctn .cant-buy .missing-coins {
  margin: 0 .2rem .35rem 0;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.products-galery .product-card .images-ctn .prod-img {
  width: 90%;
}

.products-galery .product-card .images-ctn:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70%;
  border-top: 1px solid #d9d9d9;
}

.products-galery .product-card .text-box {
  text-align: left;
  padding: 1rem;
}

.products-galery .product-card .text-box .prod-category {
  color: #a3a3a3;
}

.products-galery .product-card .text-box .prod-name {
  color: #616161;
}

.products-galery .hover-card {
  display: none;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 212, 250, 0.8)), to(rgba(37, 187, 241, 0.8)));
  background-image: linear-gradient(-180deg, rgba(10, 212, 250, 0.8) 0%, rgba(37, 187, 241, 0.8) 100%);
  width: 100%;
  height: 100%;
  min-width: 276px;
  z-index: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.products-galery .hover-card .buy-bag {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: .7rem .5rem 0 .5rem;
  position: absolute;
  top: 0;
}

.products-galery .hover-card .cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-galery .hover-card .cost .cant-coin {
  color: white;
  font-size: 2.25rem;
  margin: .5rem;
}

.products-galery .hover-card .cost .coin {
  margin-bottom: .7rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.products-galery .hover-card .redeem-btn {
  width: 80%;
  margin: 0.5rem auto;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: gray;
  background-color: white;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}

@-webkit-keyframes bounce {
  0% {
    top: 100px;
    height: 50px;
  }
  10% {
    top: 70px;
    height: 100px;
  }
  100% {
    top: 50px;
    height: 100px;
  }
}

@keyframes bounce {
  0% {
    top: 100px;
    height: 50px;
  }
  10% {
    top: 70px;
    height: 100px;
  }
  100% {
    top: 50px;
    height: 100px;
  }
}

.full-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #f9f9f9c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-container .error-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec8686), to(#fb2929));
  background: linear-gradient(-180deg, #ec8686 0%, #fb2929 100%);
}

.full-container .success-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#b9feb8), to(lightgreen));
  background: linear-gradient(-180deg, #b9feb8 0%, lightgreen 100%);
}

.full-container .message-container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  min-width: 300px;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 1rem;
  min-height: 300px;
}

.full-container .message-container .icon-message {
  font-size: 4rem;
  margin-top: -3rem;
  color: #f9f9f9;
  position: absolute;
  -webkit-animation: bounce 1s alternate infinite ease-out;
          animation: bounce 1s alternate infinite ease-out;
}

.full-container .message-container .message {
  color: #f9f9f9;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 200;
  margin-top: 5rem;
}

.full-container .message-container .large-message {
  color: #616161;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .6rem;
  padding: 1.5rem;
  width: 14rem;
}

.full-container .message-container .close-button {
  cursor: pointer;
  text-transform: uppercase;
  background-color: #f9f9f9;
  letter-spacing: 2px;
  border: none;
  border-radius: 100px;
  padding: 8px;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.full-container .message-container .close-button:hover {
  opacity: .9;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.alert .add-coins-notification {
  position: fixed;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 0.5rem;
  width: 90%;
  max-width: 700px;
  background-color: #008eec;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 0.7rem;
}

.alert .add-coins-notification .status-icon {
  display: inline-block;
  margin-right: 0.7rem;
}

.alert .add-coins-notification .message {
  display: inline-block;
  font-weight: 400;
  margin: 0;
}

.alert .add-coins-notification.success {
  background-color: #6ed845;
}

.alert .add-coins-notification.error {
  background-color: #ff1b3a;
}
/*# sourceMappingURL=styles.css.map */