*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-img{
    position: relative;
    height: max-content;
    .img-electronics{
        width: 100%;
    }
    h1{
    position: absolute;
    bottom: 2.5rem;
    left: 5rem;
    color: white;
    font-size: 3rem;
    }
}

.header-bar{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    .user{
        display: flex;
        align-items: center;
        .user-coin{
            display:flex;
            flex-flow: row wrap;
            align-items: center;
            background-color: gainsboro;
            border-radius: 10px;
            padding: .5rem;
            margin-left: .5rem;
            cursor: pointer;
            .cant-coin{
                margin-right: .2rem;
            }
            .icon-coin{
                width: 1.75rem;
            }
        }
    }
    .header-button{
        justify-content: flex-end;
        font-size: 1.2rem;
        cursor: pointer;
        background-color: #ededed;
        color: #a3a3a3;
        border: none;
        width: max-content;
        border-radius: 100px;
        padding: 10px 12.5px;
        margin: 0 .5rem;
        &:hover{
            background-color: #0ad4fa;
            color: #FFFFFF;
        }
    }
}
.more-coins{
position: absolute;
z-index: 10;
top: 5rem;
right: .5rem;
border-radius: 10px;
background-color: rgba(255, 255, 255, .9);
padding: .5rem;
    .add-coins{
        display: flex;
        flex-flow: row wrap;
        border: none;
        align-items: center;
        background-color: gainsboro;
        border-radius: 10px;
        padding: .5rem;
        margin: 1rem 0;
        &:hover{
            transform: translate(-1px, -2px);}
        .img-coin{
            margin-left: 0.2rem;
            width: 1.5rem;
        }
    }
}

.filter{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 2rem;
    align-items: flex-start;
    &:after{
        content: "";
        display: block;
        margin: 0 auto;
        width: 90%;
        border-top: 1px solid #d9d9d9; }
    .buttons-board{
        display: flex;
        flex-flow: row wrap;
        .prod-quant{
            color: #616161;
            font-size: 1.2rem;
            padding: .7rem;
        }
        .sort{
            display: flex;
            justify-content: flex-start;
            .sort-by{
                color: #a3a3a3;
                border-left: 1px solid #d9d9d9;
                padding: .7rem;
                font-size: 1.2rem;
            }
            .sort-controls-ctn{
                .filter-btn{
                    justify-content: flex-end;
                    font-size: 1.2rem;
                    cursor: pointer;
                    background-color: #ededed;
                    color: #a3a3a3;
                    border: none;
                    width: max-content;
                    border-radius: 100px;
                    padding: 10px;
                    margin: 0 .2rem .2rem 0;
                }
                .active{
                    background-color: #0ad4fa;
                    color: #FFFFFF;
                }
            }
        }
        .hidden{
            display: none;
        }
    }
    .move-btn{
        display: flex;
        justify-content: flex-end;
        height: 48px;
        margin-bottom: 0.4rem;
        .arrow-btn{
            border: none;
            background-color: transparent;
            margin: 0 .2rem;
            cursor: pointer;
            &:hover{
                border-radius: 50%;
                box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.10);
                background-color: white;
            }
        }
    }
}

.products-galery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    .product-card{
        position: relative;
        background-color: white;
        box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
        width: 20%;
        min-width: 276px;
        margin: 1rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        &:hover{
            .hover-card{
                display: flex;
                justify-content: center;
                transform: translate(-2px, -7px);
                box-shadow: 8px 10px 18px 3px rgb(170, 170, 170);
            }
        }
        .images-ctn{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .buy-icon{
                align-self: flex-end;
                margin: 1rem 1rem 0 1rem;
                width: 2rem;
            }
            .cant-buy{
                display: flex;
                flex-flow: row wrap;
                width: max-content;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                background-color: #616161ab;
                padding: .3rem 0 0 .3rem;
                min-height: 42px;
                .missing-coins{
                    margin: 0 .2rem .35rem 0;
                    font-size: 14px;
                    font-weight: 400;
                    color: white;
                }
            }
            .prod-img{
                width: 90%;
            }
            &:after{
                content: "";
                display: block;
                margin: 0 auto;
                width: 70%;
                border-top: 1px solid #d9d9d9;
            }
        }
        .text-box{
            text-align: left;
            padding: 1rem;
            .prod-category{
                color: #a3a3a3;
            }
            .prod-name{
                color: #616161;
            }
        }
    }
    .hover-card{
        display: none;
        position: absolute;
        background-image: linear-gradient(-180deg, rgba(10, 212, 250, 0.8) 0%, rgba(37, 187, 241, 0.8) 100%);
        width: 100%;
        height: 100%;
        min-width: 276px;
        z-index: 100;
        flex-flow: column nowrap;
        .buy-bag{
            align-self: flex-end;
            margin: .7rem .5rem 0 .5rem;
            position: absolute;
            top: 0;
        }
        .cost{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            .cant-coin{
                color: white; 
                font-size: 2.25rem;
                margin: .5rem;
            }
            .coin{
                margin-bottom: .7rem;
                align-self: flex-end;
            }
        }
        .redeem-btn{
            width: 80%;
            margin: 0.5rem auto;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.7rem;
            color: gray;
            background-color: white;
            border: none;
            border-radius: 1.5rem;
            cursor: pointer;
        }
    }
}

@keyframes bounce {
    0% {
      top: 100px;
      height: 50px;
    }
    10% {
      top: 70px;
      height: 100px;
    }
    100% {
      top: 50px;
      height: 100px;
    }
}

.full-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: #f9f9f9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    .error-background{
        background: linear-gradient(-180deg, rgba(236,134,134,1) 0%, rgba(251,41,41,1) 100%);
    }
    .success-background{
        background: linear-gradient(-180deg, rgba(185,254,184,1) 0%, rgba(144,238,144,1) 100%);
    }    
    .message-container{
        position: relative;
        top: 0;
        left: 0;
        z-index: 1000;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 20%;
        min-width: 300px;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
        margin: 1rem;
        min-height: 300px;
        .icon-message{
            font-size: 4rem;
            margin-top: -3rem;
            color: #f9f9f9;
            position: absolute;
            animation: bounce 1s alternate infinite ease-out;
        }
        .message{
            color: #f9f9f9;
            text-transform: uppercase;
            letter-spacing: .3rem;
            font-weight: 200;
            margin-top: 5rem;
        }
        .large-message{
            color: #616161;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: .6rem;
            padding: 1.5rem;
            width: 14rem;
        }
        .close-button{
            cursor: pointer;
            text-transform: uppercase;
            background-color: #f9f9f9;
            letter-spacing: 2px;
            border: none;
            border-radius: 100px;
            padding: 8px;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
            &:hover{
                opacity: .9;
            }
        }
    }
}

